* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ecf0f3;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f3;
    
}
.calculator {
    border-radius: 28px;
    padding: 16px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, auto);
    border: 3px solid #000;
    background-color: #ff3333;
}

.screen {
    grid-column: span 4;
    background-color: #ecf0f3;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    margin: 40px auto;
    padding: 20px;
    height: 150px;
    width: 300px;
    border-radius: 30px;
    word-wrap: break-word;
    word-break: break-all;

}

button {
    background-color: #ecf0f3;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 15px;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
}

.span-two {
    grid-column: span 2;
    width: 130px;
    border-radius: 45px;
}

.operation, .equals {
    background-color: #1a1919;
    color: #ecf0f3;
}

.previous-screen {
    color: #1a1919;
    font-size: 1.0rem;
}

.current-screen {
    color: #1a1919;
    font-size: 1.5rem;
}

